// =======================
// $Base Styles
// =======================

body, html {
  height: 100%;
}

@include larger-than(large) {

  body {
    height: auto;
    min-height: 100%;
  }
}

img{
	display: block;
	width: 100%;
}